.header {
  height: 72px;
  padding-top: 5px;
  border-bottom: solid 1px #fff;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

@media (max-width: 768px) {
  .header {
    height: 100%;
  }
}
