.footer {
  padding: 16px;
  font-size: 14px;
  color: #757575;
  font-family: 'Verdana Pro Cond', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containerLink {
  display: inline-block;
  margin-top: 1px;
  padding: 0 7px;
  transition: color .3s;
}

.containerLink:hover {
  text-decoration: underline;
  color: #2267e8;
}

.bottom {
  margin-bottom: 8px;
}

.containerBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

@media (max-width: 668px) {

}
